# Server Configuration
PORT=3000
HOST=0.0.0.0

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Curate GraphQL Endpoint. For production usage, if not will use the development endpoint
CURATE_GRAPHQL_API_KEY=
CURATE_GRAPHQL_API_URL="https://gateway.thegraph.com/api/subgraphs/id/9hHo5MpjpC1JqfD3BsgFnojGurXRHTrHWcUcZPPCo6m8"